<div id="profile" class="page-layout simple fullwidth " >

    
   <!-- CONTENT -->
  <div class="content" >
    	  <form name="profileForm" novalidate ng-submit="vm.login()">
                 <md-input-container class="md-block" md-no-float>
                    <input name="firstName" ng-model="vm.profileForm.firstName" placeholder="Nombre"
                           maxlength="30" 
                           minlength="4" 
                           server-validation="['length.min','length.max']"
                           required>
                    <div ng-messages="profileForm.firstName.$error" role="alert">
                        <div ng-message="required">
                            <span>El nombre es requerido.</span>
                        </div>
                        <div ng-message="minlength">
                            <span>El nombre no puede tener menos de 4 caracteres.</span>
                        </div>
                        <div ng-message="maxlength">
                            <span>El nombre no puede tener mas de 30 caracteres.</span>
                        </div>
                        <div ng-message="length.man">
                            <span>El nombre no puede tener mas de 30 caracteres.</span>
                        </div>
                        <div ng-message="length.min">
                            <span>El nombre no puede tener menos de 4 caracteres.</span>
                        </div>              

                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input name="lastName" ng-model="vm.profileForm.lastName" placeholder="Apellido"
                           maxlength="30" 
                           minlength="4" 
                           server-validation="['length.min','length.max']"
                           required>
                    <div ng-messages="profileForm.lastName.$error" role="alert" >
                        <div ng-message="required">
                            <span >El apellido es requerido</span>
                        </div>
                         <div ng-message="minlength">
                            <span>El nombre no puede tener menos de 4 caracteres.</span>
                        </div>
                        <div ng-message="maxlength">
                            <span>El nombre no puede tener mas de 30 caracteres.</span>
                        </div>
                          <div ng-message="length.min">
                            <span>El nombre no puede tener menos de 4 caracteres.</span>
                        </div>
                        <div ng-message="length.max">
                            <span>El nombre no puede tener mas de 30 caracteres.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="text" name="email" ng-model="vm.profileForm.email" placeholder="Correo" 
                           ng-pattern="/^.+@.+\..+$/" 
                           server-validation="['uniqueness']"
                           required>
                    <div ng-messages="profileForm.email.$error" role="alert" >
                        <div ng-message="required">
                            <span >El correo es requerido.</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Debe ser un correo valido.</span>
                        </div>
                        <div ng-message="uniqueness">
                            <span >El correo ya se encuentra registrado.</span>
                        </div>

                    </div>
                </md-input-container>
                
                <md-button type="submit" class="md-raised md-accent  submit-button" aria-label="Actualizar Datos" ng-click="vm.updateProfile($event)"
                           ng-disabled="profileForm.$invalid || profileForm.$pristine"
                            >
                    Actualizar Datos 
                   


                </md-button>
        
            </form>

             <form name="passForm" novalidate ng-submit="vm.login()">
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="oldPassword" ng-model="vm.passForm.oldPassword" placeholder="Contraseña Actual"
                    		server-validation="['INVALID_PASSWORD']"
                           maxlength="30" 
                           minlength="8"  
                           required>
                    <div ng-messages="passForm.oldPassword.$error" role="alert">
                        <div ng-message="required">
                            <span >La contraseña actual es requerida</span>
                        </div>
                         <div ng-message="minlength">
                            <span>La contraseña no puede tener menos de 8 caracteres.</span>
                        </div>
                        <div ng-message="maxlength">
                            <span>La contraseña no puede tener mas de 30 caracteres.</span>
                        </div> 
                         <div ng-message="INVALID_PASSWORD">
                            <span >Contraseña actual incorrecta.</span>
                        </div> 
                                  
                    </div>
                </md-input-container>
                 <md-input-container class="md-block" md-no-float>
                    <input type="password" name="newPassword" ng-model="vm.passForm.newPassword" placeholder="Nueva contraseña"
                           maxlength="30" 
                           minlength="8"  
                           required>
                    <div ng-messages="passForm.newPassword.$error" role="alert">
                        <div ng-message="required">
                            <span >La nueva contraseña es requerida</span>
                        </div>
                         <div ng-message="minlength">
                            <span>La nueva contraseña no puede tener menos de 8 caracteres.</span>
                        </div>
                        <div ng-message="maxlength">
                            <span>La nueva contraseña no puede tener mas de 30 caracteres.</span>
                        </div>  
                                  
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.passForm.passwordConfirm"
                           placeholder="Confirmar contraseña"
                           ng-pattern="{{vm.passForm.newPassword}}" 
                           required>
                    <div ng-messages="passForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            <span>La contraseña  de confirmación es requerida</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Las contraseñas no son iguales</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Actualizar"  ng-click="vm.updatePassword($event)"
                           ng-disabled="passForm.$invalid || passForm.$pristine || vm.isLoading"
                          >
                    Actualizar mi contraseña
                </md-button>
        
            </form>

	
   </div>
   <!-- / CONTENT -->
</div>