
<md-toolbar class="navigation-header" layout="row" layout-align="space-between center">
    <div class="logo" layout="row" layout-align="center center">
        <img class="logo-image" src="assets/images/logos/marca-HaibuSmart.png" alt="logo">
    </div>

    <md-icon class="fold-toggle s18" md-font-icon="icon-backburger" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon>
</md-toolbar>

<ms-navigation class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions"></ms-navigation>


<div  class="text-center footer">
	 <img class="logo-marca" src="assets/images/logos/marca-Luxmeter-Energy.png" alt="">

      <p  class="marca">© HaibuSmart | Haibu Group</p>
</div>